<p><%= link_to "Add a new restaurant", new_restaurant_path %></p>


<% @restaurants.each do |restaurant| %>
<div class="card-product">
  <div class="card-product-infos">
    <h2><%= link_to restaurant.name, restaurant_path(restaurant.id) %></h2>
    <p>Category: <strong><%= restaurant.category %></strong></p>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.phone_number %></p>
  </div>
</div>
  <hr>
<% end %>
